# Enable the rewrite engine
RewriteEngine On

# If the requested URL does not contain a file extension
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Append `.html` to the request and serve the corresponding file
RewriteRule ^(.+)$ $1.html

# If the rewritten file still does not exist, serve the 404.html page
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . /404.html [L]
